{% extends 'base.html' %}
{% block content %}
{% load static %}

<body>

	<div class="px-4">
		<br>
		<h1>Noticias de Deportes</h1>
		<hr>
		<div class="row">
	    	<img src="{% static 'files/bannerDeportes.jpg' %}" height="300px"
	    	width="1220px">
    	</div>
		<br>

		<h2>Principales</h2>
		<div class="row">
				{% for deportes in noticias_list %}
				<div class=col-md-4>
                    <br>
					<p><strong>{{ deportes.nombre }}</strong></p>
			        <p>{{ deportes.descripcion }}</p>
			        <p><img src="{{ deportes.imagen }}" height="180px" width="250px"></p>
			        <p>{{ deportes.fecha }}</p>
			        <p>{{ deportes.autor }}</p>
			        <p>{{ deportes.categoria }}</p>
                    <br>   
				</div>
	    		{% endfor %}
		</div>

	</div>
	<br><br>
</body>

{% endblock content %}