{% extends 'base.html' %}
{% block content %}
{% load static %}

<body>

	<div class="px-4">
		<br>
		<h1>Noticias Internacionales</h1>
		<hr>
		<div class="row">
	    	<img src="{% static 'files/bannerInter.jpg' %}" height="300px"
	    	width="1220px">
    	</div>
		<br>

		<h2>Principales</h2>
		<div class="row">
				{% for internacionales in noticias_list %}
				<div class=col-md-4>
                    <br>
					<p><strong>{{ internacionales.nombre }}</strong></p>
			        <p>{{ internacionales.descripcion }}</p>
			        <p>{{ internacionales.fecha }}</p>
			        <p>{{ internacionales.autor }}</p>
			        <p>{{ internacionales.categoria }}</p>
                    <br>   
				</div>
	    		{% endfor %}
		</div>

	</div>
	<br><br>
</body>

{% endblock content %}