{% extends 'base.html' %}
{% block content %}
{% load static %}

<body>

	<div class="px-4">
		<br>
		<h1>Noticias Nacionales</h1>
		<hr>
		<div class="row">
	    	<img src="{% static 'files/bannerNac.jpg' %}" height="350px"
	    	width="1220px">
    	</div>
		<br>

		<h2>Principales</h2>
		<div class="row">
				{% for nacionales in noticias_list %}
				<div class=col-md-4>
                    <br>
					<p><strong>{{ nacionales.nombre }}</strong></p>
			        <p>{{ nacionales.descripcion }}</p>
			        <p>{{ nacionales.fecha }}</p>
			        <p>{{ nacionales.autor }}</p>
			        <p>{{ nacionales.categoria }}</p>

			        {% if perms.noticias.change_nacionales %}
			        <p><a  class= "btn btn-primary btn-sm" href="{% url 'modificarNoticiaNacio' nacionales.id  %}">Modificar</a></p>
			        {% endif %}

			        {% if perms.noticias.delete_nacionales %}
			        <p><a  class= "btn btn-danger btn-sm" href="{% url 'eliminarNoticiaNacio' nacionales.id  %}">Eliminar</a></p>
			        {% endif %}
			        
                    <br>
                    <br>   
				</div>
	    		{% endfor %}
		</div>

	</div>
	<br><br>
</body>

{% endblock content %}